.App{
  margin: 90px;
  padding: 10px;
}
input{
  padding: 5px;
  font-size: 17px;
  border: 1px solid gray;
  margin: 10px;
}
button{
  border: 2px solid orange;
  color: orange;
  background-color: transparent;
  font-size: 17px;
  font-weight: bold;
  padding: 8px;
  margin: 10px;
}
button:hover{
  background-color: orange;
  color: white;
}
.card{
  border: 2px solid grey;
  padding: 10px;
}
.card div{
  font-size: 20px;
  font-weight: bold;
  color: navy;
  border: 1px solid black;
  width: 200px;
}